@import "~@fremtind/jkl-core/variables/_all.scss";

.meetup-bg {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: -1;
}

.meetup-hero {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        height: 100px;
    }
    &__heading {
        display: inline-block;
    }
    &__button {
        display: inline-block;
    }
}

.meetup-button-link {
    text-decoration: none;
}

.meetup-heading {
    margin-top: $layout-spacing--large;
}

.meetup-welcome {
    &.meetup-welcome__wrapper {
        margin-left: 126px;
        width: 420px;
        margin-top: 130px;
        @media screen and (max-width: 800px) {
            margin-left: 20px;
            width: 100%;
            margin-top: 20px;
        }
    }
    &__meetup {
        display: block;
        margin-bottom: $component-spacing--medium;
    }
    &__good,
    &__bad,
    &__ugly {
        display: block;
        font-size: 80px;
        line-height: 80px;
    }
    &__good {
        transform: translateX(-3vw);
    }
    &__bad {
        transform: translateX(-6vw);
    }

    &__time {
        display: block;
        margin-top: $layout-spacing--small;
        margin-bottom: $layout-spacing--medium;
    }
}

.meetup-play {
    margin-top: $layout-spacing--large;
    margin-bottom: $layout-spacing--medium;

    &__button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

.meetup-speakers {
    &__wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $layout-spacing--small;
        background-image: linear-gradient(180deg, transparent 0 30%, #{$gra-100} 30% 100%);

        @include from-medium-device {
            background-image: linear-gradient(90deg, transparent 0 30%, #{$gra-100} 30% 100%);

            display: grid;
            align-items: center;
            grid-template-columns: 40% 1fr;
            grid-template-areas: "image info";

            &--flipped {
                background-image: linear-gradient(-90deg, transparent 0 30%, #{$gra-100} 30% 100%);
                grid-template-columns: 1fr 40%;
                grid-template-areas: "info image";
            }
        }

        @include medium-device {
            padding: $layout-spacing--medium 0;
        }

        @include from-large-device {
            padding: $layout-spacing--large 0;
        }

        &:not(:last-of-type) {
            margin-bottom: $layout-spacing--xl;
        }
    }
    &__image {
        width: 100%;
        display: block;

        @include small-device {
            max-height: 70vw;
            width: auto;
        }

        @include from-medium-device {
            grid-area: image;
        }
    }
    &__content {
        box-sizing: border-box;
        padding: $layout-spacing--large 0 $layout-spacing--small;

        @include from-medium-device {
            grid-area: info;
            padding: $layout-spacing--small $layout-spacing--medium;
        }

        @include from-large-device {
            padding: $layout-spacing--medium $layout-spacing--xl;
        }
    }
    &.meetup-speakers__slogan {
        font-size: 48px;
        line-height: 56px;
        margin: 25px 0;
    }
    &.meetup-speakers__links-social {
        margin: 25px 0;
        display: grid;
        grid-template-columns: auto auto;
    }
    &.meetup-speakers__social-icon {
        margin: 0 12px;
    }
    &.meetup-speakers__link-link {
        text-decoration: none;
        padding-bottom: 12px;
        border-bottom: white 2px solid;
    }
}

.meetup-paneldebate {
    &.meetup-paneldebate__slogan {
        margin: 40px 100px;
        @media screen and (max-width: 800px) {
            margin: 40px 0;
        }
    }
    &.meetup-paneldebate__grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 0;
        padding: 0;
        /*
        &.meetup-paneldebate__item1 {
            height: 472px;
            grid-area: 1 / 1 / span 3 / span 1;
        }
        */
        grid-template-columns: 236px 236px 236px;
        grid-gap: 90px;
        @media screen and (max-width: 800px) {
            grid-template-columns: auto;
            grid-gap: 30px;
            margin-left: 30px;
        }
    }
    .meetup-paneldebate__item {
        position: relative;
        height: 236px;
    }
    .meetup-paneldebate__link {
        color: $hvit;
        text-decoration: none;

        &:hover {
            color: $info--darkbg;
        }
    }
    .meetup-paneldebate__image--small {
        width: 236px;
        height: auto;
    }
    .meetup-paneldebate__image--big {
        width: 472px;
        height: auto;
    }
    .meetup-paneldebate__caption {
        background-color: $svart;

        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 1rem;
    }
}

.meetup-program {
    &__table {
        width: 100%;
    }

    & .jkl-table__heading {
        color: $gra-30 !important;
    }

    & .jkl-table__row {
        box-shadow: inset 0 -0.0625rem 0 0 rgba(255, 255, 255, 0.2) !important;
    }
}

.meetup-sponsor {
    .meetup-sponsor__image {
        display: inline-block;
        margin-top: 65px;
        margin-left: 114px;
        margin-bottom: 65px;
    }
}

.meetup-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &__item {
        margin: 20px 0;
    }
}
