@import "~@fremtind/jkl-core/variables/_all.scss";

.meetup-bg {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: -1;
}

.meetup-hero {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        height: 100px;
    }
    &__heading {
        display: inline-block;
    }
    &__button {
        display: inline-block;
    }
}

.meetup-heading {
    margin-top: $layout-spacing--large;
}

.meetup-welcome {
    &.meetup-welcome__wrapper {
        margin-left: 126px;
        width: 420px;
        margin-top: 130px;
    }
    &__meetup {
        display: block;
        margin-bottom: $component-spacing--medium;
    }
    &__good,
    &__bad,
    &__ugly {
        display: block;
        font-size: 80px;
        line-height: 80px;
    }
    &__good {
        transform: translateX(-3vw);
    }
    &__bad {
        transform: translateX(-6vw);
    }

    &__time {
        display: block;
        margin-top: $layout-spacing--small;
        margin-bottom: $layout-spacing--medium;
    }
}

.meetup-play {
    margin-top: $layout-spacing--large;
    margin-bottom: $layout-spacing--medium;

    &__button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

.meetup-speakers {
    &__wrapper {
        padding: $layout-spacing--large 0;
        background-image: linear-gradient(90deg, transparent 0 30%, #{$gra-100} 30% 100%);

        display: grid;
        align-items: center;
        grid-template-columns: 40% 1fr;
        grid-template-areas: "image info";

        &--flipped {
            background-image: linear-gradient(-90deg, transparent 0 30%, #{$gra-100} 30% 100%);
            grid-template-columns: 1fr 40%;
            grid-template-areas: "info image";
        }

        &:not(:last-of-type) {
            margin-bottom: $layout-spacing--xl;
        }
    }
    &__image {
        display: block;
        width: 100%;
        grid-area: image;
    }
    &__content {
        grid-area: info;
        padding: $layout-spacing--medium $layout-spacing--xl;
    }
    &.meetup-speakers__slogan {
        font-size: 48px;
        line-height: 56px;
        margin: 25px 0;
    }
    &.meetup-speakers__links-social {
        margin: 25px 0;
        display: grid;
        grid-template-columns: auto auto;
    }
    &.meetup-speakers__social-icon {
        margin: 0 12px;
    }
    &.meetup-speakers__link-link {
        text-decoration: none;
        padding-bottom: 12px;
        border-bottom: white 2px solid;
    }
}

.meetup-paneldebate {
    &.meetup-paneldebate__slogan {
        margin: 40px 100px;
    }
    &.meetup-paneldebate__grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 0;
        padding: 0;
        &.meetup-paneldebate__item1 {
            height: 472px;
            grid-area: 1 / 1 / span 3 / span 1;
        }
        grid-template-columns: 472px 236px 236px 236px;
    }
    .meetup-paneldebate__item {
        position: relative;
        height: 236px;
    }
    .meetup-paneldebate__image--small {
        width: 236px;
        height: auto;
    }
    .meetup-paneldebate__image--big {
        width: 472px;
        height: auto;
    }
    .meetup-paneldebate__caption {
        background: black;

        padding: 0.5rem;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}

.meetup-sponsor {
    .meetup-sponsor__image {
        display: inline-block;
        margin-top: 65px;
        margin-left: 114px;
        margin-bottom: 65px;
    }
}

.meetup-footer {
    display: grid;
    grid-template-columns: 300px 300px auto;
    .meetup-footer__item {
        margin: 20px 0;
    }
    .meetup-footer__link {
        display: inline-block;
        width: 200px;
    }
}
