@import "~@fremtind/jkl-core/variables/_all.scss";

.meetup-bg {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    /* background-image: url("../../../static/assets/img/bg-image.png");
    background-size: contain;
    background-color: red;
    background-position: center center; */
    opacity: 0.5;
    z-index: -1;
}

.meetup-hero {
    &.meetup-hero__wrapper {
        background-color: none;
        width: 100%;
        padding: 1rem;
        height: 100px;
    }
    &.meetup-hero__heading {
        color: white;
        font-size: 24px;
        float: left;
    }
    &.meetup-hero__button {
        float: right;
    }
}

.meetup-welcome {
    &.meetup-welcome__wrapper {
        //color: inherit;
        margin-left: 126px;
        width: 420px;
        margin-top: 130px;
    }
    &.meetup-welcome__meeup {
        display: block;
    }
    &.meetup-welcome__good {
        display: block;
        font-size: 80px;
        line-height: 120px;
    }
    &.meetup-welcome__bad {
        display: block;
        font-size: 80px;
        line-height: 120px;
    }
    &.meetup-welcome__ugly {
        display: block;
        font-size: 80px;
        line-height: 120px;
    }
    &.meetup-welcome__time {
        display: block;
    }
}

.meetup-play {
    &.meetup-play__button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

.meetup-speakers {
    &.meetup-speakers__wrapper {
        position: relative;
        min-height: 660px;
    }
    &.meetup-speakers__slogan {
        font-size: 48px;
        line-height: 56px;
        margin: 25px 0;
    }
    &.meetup-speakers__image {
        width: 40%;
        max-width: 480px;
        position: absolute;
        top: 75px;
        z-index: 2;
        &.meetup-speakers__image--inverted {
            right: 0;
        }
    }
    &.meetup-speakers__content {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 880px;
        width: 74%;
        background: #181818;
        &.meetup-speakers__content--inverted {
            right: auto;
            left: 0;
        }
    }
    &.meetup-speakers__contentbox {
        padding-left: 34%;
        padding-top: 13%;
        padding-bottom: 13%;
        padding-right: 16%;
        &.meetup-speakers__contentbox--inverted {
            padding-left: 16%;
            padding-right: 34%;
        }
    }
    &.meetup-speakers__links-social {
        margin: 25px 0;
        display: grid;
        grid-template-columns: auto auto;
    }
    &.meetup-speakers__social-icon {
        margin: 0 12px;
    }
    &.meetup-speakers__link-link {
        color: white;
        text-decoration: none;
        padding-bottom: 12px;
        border-bottom: white 2px solid;
    }
}

.meetup-paneldebate {
    &.meetup-paneldebate__slogan {
        margin: 40px 100px;
    }
    &.meetup-paneldebate__grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 0;
        padding: 0;
        &.meetup-paneldebate__item1 {
            height: 472px;
            grid-area: 1 / 1 / span 3 / span 1;
        }
        grid-template-columns: 472px 236px 236px 236px;
    }
    .meetup-paneldebate__item {
        position: relative;
        height: 236px;
    }
    .meetup-paneldebate__image--small {
        width: 236px;
        height: auto;
    }
    .meetup-paneldebate__image--big {
        width: 472px;
        height: auto;
    }
    .meetup-paneldebate__caption {
        background: black;
        color: white;
        padding: 0.5rem;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}
