/* Text blocks
   ========================================================================== */

/**
 * Remove default margins from all block-level text elements
 * such as `p` and headings
 */

@mixin reset-paragraph {
    margin: 0;
}
@mixin reset-heading {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include reset-heading();
}

p {
    @include reset-paragraph();
}

/* Forms
   ========================================================================== */

/**
 * Remove margins from fieldset element.
 */

@mixin reset-fieldset {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    line-height: 1;
}

fieldset {
    @include reset-fieldset();
}

/* Forms
   ========================================================================== */

/**
 * Remove borders and margins from table elements.
 */

@mixin reset-table {
    border-collapse: collapse;
}

@mixin reset-table-content {
    margin: 0;
    padding: 0;
}

table {
    @include reset-table();
    @include reset-table-content();
}

thead,
tbody,
tr,
td,
th {
    @include reset-table-content();
}
