@import "~@fremtind/jkl-core/mixins/_all.scss";

body {
    background: black;
}

.row {
    box-sizing: border-box;
    width: 100%;
    &.row--topmargin {
        margin-top: 2rem;
    }
}

.jkl-portal {
    background: none;
    display: block;
}

.meetup-main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;

    @include small-device {
        padding: 0 1rem;
    }

    @media only screen and (min-width: 768px) and (max-width: 1180px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
