body {
    background: black;
}

.row {
    display: inline-table;
    width: 100%;
    &.row--topmargin {
        margin-top: 2rem;
    }
}

.jkl-portal {
    background: none;
    display: block;
}

.meetup-main {
    width: 100vw;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;

    @media only screen and (max-width: 1180px) {
        display: table-cell;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
